<!--1.xmlns:th="http://www.thymeleaf.org"命名空间，将静态页面转换为动态视图，需要加上th前缀-->
<html xmlns:th="http://www.thymeleaf.org">
  <head>
  	 <meta content="text/html;charset=UTF-8"/>
  	 <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
     <meta name="viewport" content="width=device-width, initial-scale=1"/>

     <!--2.通过@引用web静态资源，这在jsp下是极容易出错的，动态内容需要加上th前缀-->
     <link th:href="@{bootstrap/css/bootstrap.min.css}" rel="stylesheet"/>
     <link th:href="@{bootstrap/css/bootstrap-theme.min.css}" rel="stylesheet"/>
  </head>
  <body>
  
  <div class="panel panel-primary">
    <div class="panel-heading">
        <h3 class="panel-title">访问model</h3>
    </div>
    <div class="panel-body">
        <!--3.通过${}访问model中的属性，动态内容需要加上th前缀-->
        <span th:text="${singlePerson.name}"></span>
    </div>
  </div>

 <!--4.通过th:if="${not #lists.isEmpty(people)}"判断people是否为空-->
  <div th:if="${not #lists.isEmpty(people)}">
	  <div class="panel panel-primary">
	    <div class="panel-heading">
	        <h3 class="panel-title">列表</h3>
	    </div>
	    <div class="panel-body">
	        <ul class="list-group">
                <!--5.使用th:each进行循环迭代-->
				<li class="list-group-item" th:each="person:${people}">
				    <span th:text="${person.name}"></span>
				   	<span th:text="${person.age}"></span>
				   	<button class="btn" th:onclick="'getName(\'' + ${person.name} + '\');'">获得名字</button>
				</li>
	        </ul>
	    </div>
	 </div>
 </div>
  
  <script th:src="@{jquery-1.10.2.min.js}" type="text/javascript"></script><!-- 2 -->
  <script th:src="@{bootstrap/js/bootstrap.min.js}"></script><!-- 2 -->

  <!--在javascript中访问model的值-->
  <script th:inline="javascript">
    //获得实际的值
  	var single = [[${singlePerson}]];
  	console.log(single.name+"/"+single.age)
  	
  	function getName(name){
  	    //在浏览器控制台上打印name
  		console.log(name);
  	}
  </script>
  
  </body>
 </html>